---
const { length, currentUrl, currentPage, firstUrl, prevUrl, nextUrl, lastUrl } = Astro.props;
const paginationList = Array.from({ length: `${length}` }, (_, i) => i + 1);
---

<nav aria-label="Blog pages" class="pagination pagination-default">
  {
    firstUrl == currentUrl ? (
      <span class="pagination__link disabled">
        &laquo;
      </span>
    ) : (
      <a href={firstUrl} class="pagination__link">
        &laquo;
      </a>
    )
  }

  {
    prevUrl ? (
      <a href={prevUrl} class="pagination__link">
        &lt;
      </a>
    ) : (
      <span class="pagination__link disabled">
        &lt;
      </span>
    )
  }

  {
    paginationList.map((num) => (
      <a
        href={`${firstUrl}${num == 1 ? "" : "/" + num}`}
        class={`pagination__link ${currentPage == num ? "disabled active" : ""}`}
      >
        {num}
      </a>
    ))
  }

  {
    !nextUrl ? (
      <span class="pagination__link disabled">
        &gt;
      </span>
    ) : (
      <a href={nextUrl} class="pagination__link">
        &gt;
      </a>
    )
  }

  {
    lastUrl == currentUrl ? (
      <span class="pagination__link disabled">
        &raquo;
      </span>
    ) : (
      <a href={lastUrl} class="pagination__link">
        &raquo;
      </a>
    )
  }
</nav>
